<div class="container-fluid main-grid">
    <div class="mb-5">
        <div class="row no-gutters mb-3">
            <div class="col-md-6 col-12 mt-50">
                <h2>Worldcom​ ​Finance​ ​Task</h2>
            </div>
        </div>



        <div class="search-form-container filter-action-log">
            <div class="filter-form-container ">
                <form class="form search-nomination-form filter-form" novalidate [formGroup]="searchForm" (ngSubmit)="submit()">
                    <div class="form-fields">
                        <mat-select placeholder="Country" formControlName="country" id="country">
                            <mat-option  value="us">
                                USA
                            </mat-option>
                        </mat-select>

                        <mat-form-field class="zip-code">
                            <input matInput placeholder="Zip Code" formControlName="zip_code" id="zip_code">
                        </mat-form-field>
                    </div>

                    <button mat-raised-button color="primary">Primary</button>
                </form>
            </div>
            <p>Places Not Found</p>
        </div>

    </div>
</div>
<ng-template #logsNotFound>
    <mat-card class="centered">
        <mat-spinner style="margin: 50px auto;"></mat-spinner>
    </mat-card>
</ng-template>