'use strict';

module.exports = {
    http_port: 80,
    https_port: 443,
    domain: 'wic.domain',
    use_ssl: true,
    certificate: {
        key_path: '/etc/ssl/private.pem',
        crt_path: '/etc/ssl/public.pem'
    }
};
